@import './variables/fonts.scss';
@import './variables/colors.scss';


body {
    background-color: $backgroundColor;
}

#headerNav {
    // background-color: blue;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


#headerList {
    li {
        font-family: $mainFont;
    }
}

.logoHeader {
    // background-color: red;
    margin: 5px;

    h1 {
        border-bottom: solid 3px $orange;
        font-family: $mainFont;
        letter-spacing: 3px;
        font-weight: 500;
        font-size: calc(1.375rem + 1.5vw);
        color: $grey;
        text-transform: uppercase;
        margin-bottom: 8px;
        line-height: 1.2;
    }
}



li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;

}


a {
    color: black;
    text-decoration: none;
    padding: 8px;
    font-weight: 400;
    
    &:hover {
        
        color: $orange;
    }
}

p {
    margin: 5px;
    font-family: $mainFont;
    font-weight: lighter;
    color: $grey;
    text-align: left;
}



#headerListHamburger {
    display: none;
}


// ! Media Queries

// ? Turns page links into hamburger menu
@media (max-width: 620px) {
    #headerList {
        display: none;
    }

    #headerNav {
         position: relative;
    }

    #headerListHamburger {
        display: inline-block;
        z-index: 2;
        


        svg {
            &:hover {
                cursor: pointer;
                // color: white;
            }
        }


        button {
            // background-color: ;
            border: none;
            background-color: $backgroundColor;

            &:hover {
                background: rgba($color: $orange, $alpha: 0.2);
                border-radius: 50%;
            }
        }


        li {
            display: block;
            background: rgba($color: $grey, $alpha: 0.6);
            padding: 5px;
            
            &:hover {
                background: rgba($color: $grey, $alpha: 0.8);
            }

            a {
                color: white;


            }


            
        }

        #hamDiv {
            position: absolute;
            right: 0px;
            border-radius: 50px;

        }
    }
}

