@import './variables/colors.scss';
@import './variables/fonts.scss';


#howto {
    background: rgba($color: $grey, $alpha: 0.8);
    width: 50%;
    max-width: 500px;
    min-width: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 5px;
    // justify-content: space-between;


    #howtoContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    
    }

    #exitDiv {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;


        button {
            background: rgba($color: #000000, $alpha: 0);
            border: none;
        }
    }

    h2 {
        color: white;
        background: rgba($color: #000000, $alpha: 0);
        margin-right: auto;
        font-weight: normal;
        // letter-spacing: 3;
    }

    svg {
        color: white;

        &:hover {
            cursor: pointer;
            color: darken($color: white, $amount: 50);
        }
    }
    
    p {
        color: white;
        font-weight: lighter;
        padding: 5px 10px;
    }

    .arrows {

        svg {
            &:hover {
                cursor: not-allowed;
            }
        }
    }
}