@import './variables/colors.scss';
@import './variables/fonts.scss';


#name {
    display: flex;
    flex-direction: row;

    h2 {
        color: white;
        border-radius: 10px;
    }


    // #state {

    // }
}


#howToBox {
    position: absolute;
    top: 50vh;
    left: 10%;
    z-index: 2;
    width: 100%;
}


