@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");
#name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#name h2 {
  color: white;
  border-radius: 10px;
  background-color: white;
  color: #424642;
  border: 1px solid #c06014;
  padding-left: 0;
}

#name h2 #state {
  background-color: #c06014;
  color: white;
  border-radius: 10px;
  padding: 1px;
  padding-left: 10px;
  margin: 0;
}

#name img {
  margin-right: 10px;
}

#howToBox {
  position: absolute;
  top: 50vh;
  left: 10%;
  z-index: 2;
  width: 100%;
}

.cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
  padding: 10px 0px;
  color: white;
}

.cities li {
  display: block;
  color: white;
}

.cities #spotlight {
  background-color: #f3f4ed;
  width: 50%;
  color: #424642;
  min-width: 350px;
  max-width: 550px;
  -webkit-box-shadow: 1px 1px 8px black;
          box-shadow: 1px 1px 8px black;
}

.cities #spotlight img {
  width: 80%;
}

.cities #spotlight p {
  padding: 10px;
  text-indent: 10px;
}

.cities #spotlight #cityname {
  text-align: right;
  padding-right: 40px;
}

#explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

#explore .heading {
  color: white;
  background-color: #c06014;
  border: #c06014 1px solid;
  border-radius: 10px;
}

#explore #chart1, #explore #chart2 {
  display: inline-block;
  width: 40%;
}

#explore ol {
  all: revert;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  padding-left: 15px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 5px #333333;
          box-shadow: inset 1px 1px 5px #333333;
}

#explore ol li {
  text-align: left;
  font-family: "Quicksand", sans-serif;
}

#explore ol .citiesItem {
  border-bottom: 1px solid white;
  padding: 5px 0;
  width: 100%;
}

#cityIcons {
  margin: 0;
  padding: 0;
}

#cityIcons ul {
  background-color: rgba(192, 96, 20, 0.7);
  border-radius: 2px;
  -webkit-box-shadow: 1px 3px 6px #333333;
          box-shadow: 1px 3px 6px #333333;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

#cityIcons li {
  padding: 5px 5px;
  margin: 0;
  color: white;
}

#cityIcons li:hover {
  color: #cccccc;
  cursor: pointer;
}

#cityIcons li svg {
  stroke: black;
  stroke-width: 2px;
}

#cityIcons #mapIcon, #cityIcons #cityIcon {
  background-color: rgba(192, 96, 20, 0.7);
}

#cityIcons #stockIcon {
  background-color: rgba(0, 100, 0, 0.7);
  border-radius: 2px;
}

#cityIcons #stockIcon:hover {
  color: revert;
  background-color: #00b300;
}

#cityIcons #bankIcon {
  background-color: rgba(0, 0, 255, 0.7);
  border-radius: 2px;
  border-top: 1px solid #363636;
}

#cityIcons #bankIcon:hover {
  color: revert;
  background-color: #3333ff;
}
/*# sourceMappingURL=mapcontent.css.map */