@import './variables/colors.scss';
@import './variables/fonts.scss';


#name {
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
        color: white;
        border-radius: 10px;
        background-color: white;
        color: $grey;
        border: 1px solid $orange;
        // padding: 0;
        padding-left: 0;

        #state {
            background-color: $orange;
            color: white;
            border-radius: 10px;
            padding: 1px;
            padding-left: 10px;
            margin: 0;
        }
    }

    img {
        margin-right: 10px;
        // display: inline-block;
    }
    // #state {

    // }
}


#howToBox {
    position: absolute;
    top: 50vh;
    left: 10%;
    z-index: 2;
    width: 100%;
}





// #gdpCharts {
//     // width: 100;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     flex-wrap: nowrap;
//   }
  
  
  #cities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  
    border-radius: 10px;
    padding: 10px 0px;
    color: white;
  
    li {
        display: block;
        color: white;
    }
  
    #spotlight {
        background-color: $backgroundColor;
        width: 50%;
        color: $grey;
        // box-shadow: 1px 1px 8px;
        box-shadow: 1px 1px 8px black;


        img {
            // transform: scale(0.8);
            width: 80%;
        }



        p {
            padding: 10px;
            text-indent: 10px;
        }

        #cityname {
            text-align: right;
            padding-right: 40px;
        }
    }
  }



  #explore {
    // background-color: red;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    .heading {
      color: white;
      background-color: $orange;
      border: $orange 1px solid;
      border-radius: 10px;
    //   padding: 1px;
    }


    #chart1, #chart2 {
        display: inline-block;
        // max-width: 400px;
        width: 50%;
    }

    ol {
        all: revert;
        background-color: rgba($color: #000000, $alpha: 0.5);
        padding: 15px 0;
        padding-left: 15px;
        border-radius: 5px;

        li {
            text-align: left;
            font-family: $mainFont;
            // font-size: 1.1rem;

        }


        .citiesItem {
            // background-color: black;
            border-bottom: 1px solid white;
            padding: 5px 0;
            width: 100%;
        }
    }
}



#cityIcons {
    // display: inline-block;
    margin: 0;
    padding: 0;

    ul {
        // background-color: rgba($color: #000000, $alpha: 0.5);
        background-color: rgba($color: $orange, $alpha: 0.7);
        border-radius: 2px;
        box-shadow: 1px 3px 6px black;
        // background-color: white;

        
    }


    li {
        padding: 5px 5px;
        margin: 0;
        color: white;

        &:hover {
            color: darken($color: white, $amount: 20);
            cursor: pointer;
        }
    }
}

